
 <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
 <link rel="stylesheet" href="css/bootstrap.min.css">

<style type="text/css">
  
  .textBox {
    position:absolute;
    width: 400px;
    left: 15%;
  }
    #excelDiv {
    position:relative;
    top:35px;   
  }
 input[type='file']
 {
    opacity:0; 
    position:absolute;
    background-color: #DDF;
    left: 15%;
    padding-right: 144px; 
 }

 span {
  font-family: "proxima-nova", "Proxima Nova", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

 #chooseFileButton {
  position:relative;
  top: 40px;
  left: 15%;
 }

 .textStep1 {
    display: block;
    line-height: 56px;
    font-size: 29px;
    padding: 0px 40px;
    color: white;
    font-weight: 300;
    position:relative;
    margin-top:20px;
    background: #FAA226;
 }

  .textStep2 {
    display: block;
    padding: 0px 40px;
    margin-top: 160px;
    font-size: 29px;
    color: white;
    font-weight: 300;
    line-height: 56px;
    background: #00ACEE;
    position:relative;
 }

.textStep3 {
    display: block;
    padding: 0px 40px;
    margin-top: 180px;
    font-size: 29px;
    color: white;
    font-weight: 300;
    line-height: 56px;
    background: #f4503e;
    position:relative;
  }

  .textStep4 {
    display: block;
    padding: 0px 40px;
    margin-top: 200px;
    font-size: 29px;
    color: white;
    font-weight: 300;
    line-height: 56px;
    background: #9464e2;
    position:relative;
  }

  #yaml {
    position: absolute;
    left: 600px;
  }

  #sql {

    position: absolute;
    left: 800px;
  }


</style>

<script>
 $(document).ready(function () {
 $('#file').change(function() {
  $("#textBox").val($('#file').val().substring(12));
      if ($("#textBox").val().length > 0){
      
    }
  });
 });

</script>

<span class = "textStep1"> Step 1: Upload Excel File </span>

<div id= "excelDiv">

<%= form_tag({action: :upload}, multipart: true) do %>
  
  <input type="text" class = "textBox" id="textBox" size = "50" readonly  />

  <%= file_field_tag 'file', accept: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel' %> 
  
  <input type="submit" value="Upload" id="chooseFileButton" /> 

<% end %>
</div>

<span class = "textStep2"> Step 2: Generate .yaml & .sql files </span>
<div>
  <%= form_tag({action: :execute_python}) do %>
  <input type="submit" value="Run plato_offers.sh" id="chooseFileButton" /> 
  <% end %>
</div>

<% if flash[:alert] %>
    <script> alert("Created offers.auto.yaml and offers.auto.sql successfully") </script>
    <div> <a href = <%= '/offers.auto.yaml'%> id="yaml"> offers.auto.yaml</a>  </div>
    <div> <a href = <%= '/offers.auto.sql'%> id="sql"> offers.auto.sql</a>  </div>
    <% flash.alert = false %>
<% end %>

<span class = "textStep3"> Step 3: Inject .sql file into Database </span>
<div>
</div>
<span class = "textStep4"> Step 4: Generate JIRA Tickets </span>
<div>
</div>

</form>





