
 <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
 <link rel="stylesheet" href="css/bootstrap.min.css">
 <link rel="stylesheet" type="text/css" href="css/upload.css">

<style type="text/css">
  
   #success1 {
    position:absolute;
    left: 620px;
    top: 5px;
  }
  #success2 {
    position: absolute;
    left: 620px;

  } 
  #success3 {
    position: absolute;
    left: 620px;
    margin-top: 5px;
  } 

  #success4 {
    position: absolute;
    left: 620px;
  }

  .textBox {
    position:absolute;
    width: 400px;
    left: 15%;
  }
  #textBox2 {
    position:absolute;
    width: 400px;
    left: 15%;
  }
    #excelDiv {
    position:relative;
    top:35px; 

  }
 input[type='file']
 {
    opacity:0; 
    position:absolute;
    background-color: #DDF;
    left: 15%;
    padding-right: 144px; 
 }

 span {
  font-family: "proxima-nova", "Proxima Nova", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

 #chooseFileButton {
  position:relative;
  top: 40px;
  left: 15%;
 }

 #updateRepoButton {
  position:absolute;
  left: 15%;
  margin-top: 40px;
 }

 #dbinjectButton {
  position:relative;
  top: 40px;
  left: 15%;
 }
 #svnText {
   position:relative;

 }

 #svnCommitText {
   position:absolute;
   left: 600px;
   font-size: 12px;
   font-weight: 300;
   margin-top: 50px;

 }

 .textStep1 {
    display: block;
    line-height: 56px;
    font-size: 29px;
    padding: 0px 40px;
    color: white;
    font-weight: 300;
    position:relative;
    margin-top:20px;
    background: #FAA226;
 }

  .textStep2 {
    display: block;
    padding: 0px 40px;
    margin-top: 120px;
    font-size: 29px;
    color: white;
    font-weight: 300;
    line-height: 56px;
    background: #00ACEE;
    position:relative;
 }

     .textStep3 {
    display: block;
    padding: 0px 40px;
    margin-top: 120px;
    font-size: 29px;
    color: white;
    font-weight: 300;
    line-height: 56px;
    background:  #49bf68;
    position:relative;
  }

.textStep4 {
    display: block;
    padding: 0px 40px;
    margin-top: 120px;
    font-size: 29px;
    color: white;
    font-weight: 300;
    line-height: 56px;
    background: #f4503e;
    position:relative;
  }

  .textStep5 {
    display: block;
    padding: 0px 40px;
    margin-top: 120px;
    font-size: 29px;
    color: white;
    font-weight: 300;
    line-height: 56px;
    background: #9464e2;
    position:relative;
  }

  #yaml{
    position: absolute;
    left: 600px;
    margin-top: 50px;
    font-size: 12px;
    font-weight: 300;
  }

  #sql {

    position: absolute;
    left: 710px;
    margin-top: 50px;
    font-size: 12px;
    font-weight: 300;
  }
  #excel {
    position: absolute;
    left: 600px;
    font-size: 12px;
    font-weight: 300;
  }
  #dbtext {
    position: absolute;
    left: 600px;
    font-size: 12px;
    font-weight: 300;
    margin-top: 50px;
  }
  #jira {
  position:relative;
  top: 10px;
  left: 10%;

  }

  #jira1, #jira2, #jira3, #jira4, #jira5 {
    margin-right: 20px;
    display: block;

  }

  #jira6 {
 
    display: block;
    left: 300px;
    top: 19px;
    position:absolute;

  }
  #jira6span, #jira7span{
    display: block;
  }

   #username, #password {
    left: 450px;
    top: -150px;
    position:relative;

   }

   #usernameSpan, #passwordSpan {
        display: block;
   }
   #enitreJIRAdiv {
   margin: 0 auto;

   }
   #jiraButton{
      position: absolute;
      left: 450px;
      top:320px;
   }

</style>

<script>
 $(document).ready(function () {
 $('#file').change(function() {
  $("#textBox").val($('#file').val().substring(12));
      if ($("#textBox").val().length > 0){
      
    }
  });
 });
 function setBlank(me) {
  document.getElementById("textBox2").value = ""
 }

</script>

<span class = "textStep1"> Step 1: Upload Excel File </span>
<div id= "excelDiv">

<%= form_tag({action: :upload}, multipart: true) do %> 
  <input type="text" class = "textBox" id="textBox" size = "50" readonly  />
  <%= file_field_tag 'file', accept: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel' %>  
  <input type="submit" value="Upload" id="chooseFileButton" /> 
<% end %>

<% if @alert1 %>
  <div id="success1"> <%= image_tag("check2.jpeg", :alt => "success1", :size => "20x20") %> </div>
  <div id="excel"> <b>File uploaded: </b> <%= Nytfile.order('created_at DESC').first.name %> </div>
<% end %>
</div>

<span class = "textStep2"> Step 2: Generate .yaml & .sql files </span>

<div>
  <%= form_tag({action: :execute_python}) do %>
  <input type="submit" value="Run plato_offers.sh" id="chooseFileButton" /> 
  <% end %>
</div>

<% if @alert2 %>
    <div id="success2"> <%= image_tag("check2.jpeg", :alt => "success2", :size => "20x20") %> </div>
    <div> <a href = <%= '/offers.auto.yaml'%> id="yaml"> offers.auto.yaml</a>  </div>
    <div>  <a href = <%= '/offers.auto.sql'%> id="sql"> offers.auto.sql</a>  </div>
<% end %>

<span class = "textStep3"> Step 3: Update Subversion repo </span>
<div>
  <%= form_tag({action: :update_svn_repo}) do %>
  <%= text_field_tag 'textBox2' %>
  <input type="submit" value="Update repo" id="updateRepoButton" />
  <% end %>

<% if @alert3 %>
  <div id="success3"> <%= image_tag("check2.jpeg", :alt => "success3", :size => "20x20") %> </div>
  <span id="svnCommitText"> Changes Commited. Check repo</span>
<% end %>

</div>

<span class = "textStep4"> Step 4: Inject .sql file into Database </span>

<div>
  <%= form_tag({action: :inject_into_db}) do %>
  <input type="submit" value="Inject into DB" id="dbinjectButton" />
  <% end %>

<% if @alert4 %>
  <div id="success4"> <%= image_tag("check2.jpeg", :alt => "success4", :size => "20x20") %> </div>
  <span id="dbtext"> ECST and ECST2 now updated</span>
<% end %>

</div>

<span class = "textStep5"> Step 5: Generate JIRA Tickets </span>
<div id = "jira">

<%= form_tag({action: :generate_jira_ticket}) do %>
<br>
<div id ="enitreJIRAdiv">
    <span id="jira1">Project *</span> <%= select_tag(:project, options_for_select([['Pay Model Sartre', 1], ['Databases: Oracle', 2], ['Systems Operations', 3], ['Infra - Services', 4]], 1)) %>
    <br>
    <span id="jira2">Issue Type * </span> <%= select_tag(:issue_type, options_for_select([['Service Request', 1], ['Story', 2], ['Bug', 3]], 1)) %>
    <br>

    <span id="jira3">Priority</span> <%= select_tag(:priority, options_for_select([['None', 1],['Blocker', 2], ['Critical', 3], ['Major', 4], ['Minor', 5], ['Trivial', 6]], 1)) %>
    <br>

    <span id="jira4">Summary *</span> <%= text_area_tag 'summary' %>
    <br>
    <span id="jira5">Description * </span> <%= text_area_tag 'description'%>

    <div id="jira6"><span id="jira6span">Database Service Type </span><%= select_tag(:serviceType, options_for_select([['None', 1],['Deploy a Migration', 2], ['Backup Existing Database', 3], ['Setup new Database', 4]], 1)) %>

    <span id="jira7span">Host Environment </span> <%= select_tag(:host_env, options_for_select([['None', 1], ['Development', 2], ['Staging', 3], ['Production',4]], 1)) %>
    </div>

    <div id= "username">
      <span id="usernameSpan"> Username * </span> <%= text_field_tag 'usernameTag' %>
    </div>

    <div id="password">
      <span id= "passwordSpan"> Password * </span> <%= text_field_tag 'passwordTag' %> 
    </div>

    <input type="submit" value="Generate JIRA Ticket" id="jiraButton" />

     <% end %>
</div>

</form>






